<div *ngFor="let book of books$ | async">
    <mat-card class="book-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{ book.title }}</mat-card-title>
                <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
                <img mat-card-xl-image src="../assets/img/cover.jpg" >
            </mat-card-title-group>
            </mat-card-header>
            <mat-divider/>
        <mat-card-actions>
            <button mat-button (click)="removeBook(book.id)">Remove Book</button>
        </mat-card-actions>
    </mat-card>
</div>

<h2>Add a new book</h2>

<div class="input-container">
    <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Enter unique book ID</mat-label>
        <input matInput #bookId type="text" placeholder="Book Id">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter book title</mat-label>
        <input matInput #bookTitle type="text" placeholder="Book title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter book auhor</mat-label>
        <input matInput #bookAuthor type="text" placeholder="Author">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Rating</mat-label>
        <mat-select #bookRating [formControl]="ratingControl" required>
            <mat-option>--</mat-option>
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
        </mat-select>
        @if (ratingControl.hasError('required')) {
            <mat-error>Please choose the rating</mat-error>
          }
    </mat-form-field>
    <button mat-raised-button color="primary" matTooltip="Add book!" (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value, bookRating.value)">Add Book</button>
</div>

<mat-paginator *ngIf="pageEvent$ | async as paginator"
    [length]="paginator.length"
    [pageSize]="paginator.pageSize"
    [pageSizeOptions]="[2, 4, 6, 8, 10]"
    (page)="handlePageEvent($event)"
    [pageIndex]="paginator.pageIndex"
    aria-label="Select page"/>