<div class="container-sm">
    <h1>Your cart</h1>

    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let item of cartItems">
                <span matListItemTitle>{{ item.name }}</span>
                <span matListItemLine>{{ item.price | currency:'CHF' }}</span>
            </mat-list-item>
        </mat-list>

        <mat-list>
            <mat-list-item>
                <span class="price" matListItemTitle>Total (CHF)</span>
                <span class="price" matListItemLine>{{ totalPrice | currency:'CHF' }}</span>
            </mat-list-item>
        </mat-list>

        <div class="text-right">
            <button mat-flat-button color="warn" (click)="clearCart()">Clear</button>
        </div>

        <div class="text-right">
            <button (click)="checkout()" mat-raised-button color="accent">Checkout</button>
        </div>
        
    </mat-card>
</div>
